{
  "bundleIdentifier": "com.contoso.myapp",
  "displayName": "My Power App",
  "version": "1.0.0",
  "versionCode": 1,
  "iconPath": "./assets/icon.png",

  "msal": {
    "clientId": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
    "tenantId": "yyyyyyyy-yyyy-yyyy-yyyy-yyyyyyyyyyyy"
  },

  "ios": {
    "simulator": false,
    "signing": {
      "exportMethod": "ad-hoc",
      "teamId": "ABCD1234EF"
    }
  },

  "android": {
    "keystorePath": "./release.jks",
    "keystorePassword": "changeme",
    "keyAlias": "release",
    "keyPassword": "changeme"
  },

  "outputPath": "./dist"
}
